.StaysSearchBarMainDiv{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1.5rem;
}
.StaysSearchFormDiv{
    display: flex;
    justify-content: space-between;
}
.locationDiv, .dateDiv, .travelersDiv{
    padding: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 12px;
    margin-right: 20px;
    transition: .3s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.clickedLocationDiv, .clickedDateDiv, .clickedTravelersDiv{
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 12px;
    margin-right: 20px;
}
.locationDiv:hover, .dateDiv:hover, .travelersDiv:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #1668e3 0px 0px 0px 1px inset;
}
.staysLocationSearchInp, .staysDateInp, .staysTravelersInp{
    margin: auto;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 12px;
    transition: .3s;
    border: none;
    font-weight: 700;

}
.location-span, .date-span, .travelers-span{
    margin: 20px;
}
.staysSearchBtn{
    background-color: #1668e3;
    color: white;
    border: none;
    padding: .8rem;
    border-radius: 1.2rem;
    width: 100px;
    font-weight: 700;
}
@media all and (max-width: 578px) {
    .StaysSearchFormDiv{
        flex-direction: column;
        gap: 15px;
    }
    .locationDiv, .dateDiv, .travelersDiv{
        width: 95%;
    }
    .clickedLocationDiv, .clickedDateDiv, .clickedTravelersDiv{
        width: 97%;
        height: 38px;
    }
    .staysSearchBtn{
        width: 100%;
        
    }
}