.singInMainDiv{
    width: 40%;
    margin: auto;
    margin-top: 30px;
}
.signInExpediaLogoDiv{
    margin: auto;
    width: 150px;
}
.signInExpediaLogo{
    width: 150px;
}
.signInHeadindText{
    color: #191e3b;
    font-size: 34px;
    text-align: center;
}
.signInButtonsMainDiv{
    width: 90%;
    margin: auto;
}
.googleSignInBtn{
    width: 100%;
    background-color: #1668e3;
    border: none;
    height: 3rem;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 10px;
}
.signinEmailInp{
    width: 99%;
    background-color: transparent;
    border: 2px solid #191e3b;
    border-radius: 10px;
    height: 44px;
    font-weight: 500;
    font-size: 1.2rem;
}
.signinEmailInp:hover{
    cursor: pointer;
    border: 2px solid #1668e3;
}
.continueBtn{
    width: 100%;
    background-color: #1668e3;
    border: none;
    height: 3rem;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 50px;
    margin: 32px 0px;
}
.appleFbLogoDiv{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 46px;
}
.appleFbImg{
    width: 18px;
}
@media all and (max-width: 578px) {
    .singInMainDiv{
        width: 95%;
    }
    .signInHeadindText{
        color: #191e3b;
        font-size: 20px;
    }
}
@media all and (min-width: 578px) and (max-width: 990px) {
    .singInMainDiv{
        width: 65%;
    }
    .signInHeadindText{
        color: #191e3b;
        font-size: 26px;
    }
}